*{
  box-sizing: border-box;
}

body{
  margin: o;
}

/* .container{
  border: 2px solid darkblue;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: column-reverse;
} */


.container{
  border: 2px solid darkblue;
  height: 700px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-content: flex-start;
  flex-direction: column-reverse;
}


.item{
  width: 100px;
  height: 100px;
  background-color: lightsalmon;
  color: black;
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
}

