*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

section{
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}


.inner{
  position: relative;
  border-radius: 4px;
  background-color: lightcoral;
  padding: 15px;
  padding-bottom: 36px;
  color: darkslategray;
}


.ninner{
  width: 200px;
  height: 300px;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  left: 100%;
  padding: 15px;
  /* display: inline-block; */
  background-color: darkslategray;
  color: lightcoral;
  transition: all 1s ease;
}



section:hover .ninner{
  top: 0%;
  left: 0%;
}